@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/* Media Queries for Responsive Design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: 50px;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("banner.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

/* Small devices (max-width: 868px) */
@media (max-width: 768px) {

    /* ... CSS code for small devices ... */
    .bg-container {
        background: linear-gradient(to right, #00031d, #000536);
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }

    .banner-heading {
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin-top: 15px;
    }

    .banner-caption {
        color: #f5f7fa;
        font-size: 24px;
        font-weight: 300;
        width: 100%;
        color: white;

        background-attachment: fixed;
    }

    .image {
        width: 45vw;
        margin-top: 20px;

    }

    .custom-button {
        width: 250px;
        height: 60px;
        font-size: 15px;
        text-align: center;
        border-width: 0;
        border-radius: 10px;
        margin-right: 10px;
        font-weight: 400;
        padding: 15px 36px;
        color: #222;
        background: #1adb80 !important;
        cursor: pointer;
        margin: 20px;

    }

    html,
    body {
        margin: 0;
        min-height: 100%;
        background-color: #f2f2f2;
    }

    .content {
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
    }

    .inner-content {

        padding: 10px;
        flex-direction: row;
        margin-top: 20px;
    }


}

/* Extra small devices (max-width: 380px) */
@media (max-width: 380px) {

    /* ... CSS code for extra small devices ... */
    .bg-container {
        background: linear-gradient(to right, #00031d, #000536);
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;

    }

    .ocean {
        height: 30px;
        /* change the height of the waves here */
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
    }

    .banner-heading {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
    }

    .banner-caption {
        color: #f5f7fa;
        font-size: 10px;
        font-weight: 300;
        width: 100%;
        color: white;
        margin-top: 20px;
        background-attachment: fixed;
    }

    .image {
        width: 30vw;
        margin-top: 10px;

    }

    .custom-button {
        width: 100px;
        height: 3vh;
        font-size: 3px;
        text-align: center;
        border-width: 0;
        border-radius: 6px;
        margin-right: 10px;
        font-weight: 400;
        color: #222;
        background: #1adb80 !important;
        cursor: pointer;
        margin: 15px;
    }

    html,
    body {
        margin: 0;
        min-height: 100%;
        background-color: #f2f2f2;
    }

    .content {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .inner-content {
        padding: 10px;
        flex-direction: row;
        margin-top: 20px;
    }



}

/* Medium and large devices (min-width: 768px) */
@media (min-width: 768px) {

    /* ... CSS code for medium and large devices ... */
    .bg-container {
        background: linear-gradient(to right, #00031d, #000536);
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;

    }

    .banner-heading {
        color: white;
        font-size: 45px;
        font-weight: 800;
        margin-top: 15px;
    }

    .banner-caption {
        color: #f5f7fa;
        font-size: 24px;
        font-weight: 300;
        width: 100%;
        color: white;
        margin: 20px;
        background-attachment: fixed;
    }

    .image {
        width: 35vw;
        margin-left: 25px;
        margin-top: 20px;
    }

    .custom-button {
        width: 250px;
        height: 60px;
        font-size: 10px;
        text-align: center;
        border-width: 0;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: 400;
        padding: 15px 36px;
        color: #222;
        background: #1adb80 !important;
        cursor: pointer;
        margin-left: 50px;
        margin: 10px;
    }

    html,
    body {
        margin: 0;
        min-height: 100%;
        background-color: #f2f2f2;
    }

    .content {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .inner-content {
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-direction: row;
        margin-top: 20px;
    }



}

html,
body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}

.content {
    padding: 10px;
}

.inner-content {
    padding: 10px;
    flex-direction: row;
    margin-top: 20px;
}

/* waves */
.ocean {
    height: 80px;
    /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* General Style */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Container Style */



/* Style Text Content */

.text-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 5px rgb(0, 89, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

/* Style Snowballs and Snowflakes */

.snow-ball-container .snow-ball {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 0;
    background: white;
}

.snow-ball-container .snow-ball:nth-child(even) {
    position: absolute;
    width: 16px;
    height: 16px;
    animation: flake-motion 15s linear infinite;
}

/* Position the Snowballs above the screen */
.snow-ball-container .snow-ball:nth-child(1) {
    top: -50%;
    left: 5%;
    width: 20px;
    height: 20px;
    animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(2) {
    top: -20%;
    left: 10%;
}

.snow-ball-container .snow-ball:nth-child(3) {
    top: -50%;
    left: 15%;
    animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(4) {
    top: -10%;
    left: 20%;
}

.snow-ball-container .snow-ball:nth-child(5) {
    top: -20%;
    left: 25%;
    width: 20px;
    height: 20px;
    animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(6) {
    top: -40%;
    left: 30%;
}

.snow-ball-container .snow-ball:nth-child(7) {
    top: -30%;
    left: 35%;
    width: 5px;
    height: 5px;
    animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(8) {
    top: -20%;
    left: 40%;
}

.snow-ball-container .snow-ball:nth-child(9) {
    top: -50%;
    left: 45%;
    width: 5px;
    height: 5px;
    animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(10) {
    top: -5%;
    left: 50%;
}

.snow-ball-container .snow-ball:nth-child(11) {
    top: -20%;
    left: 60%;
    animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(12) {
    top: -10%;
    left: 70%;
}

.snow-ball-container .snow-ball:nth-child(13) {
    top: -50%;
    left: 80%;
    width: 5px;
    height: 5px;
    animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(14) {
    top: -20%;
    left: 90%;
}

.snow-ball-container .snow-ball:nth-child(15) {
    top: -50%;
    left: 95%;
    width: 30px;
    height: 30px;
    animation: snowball-animation 12s linear infinite;
}

@keyframes snowball-animation {
    100% {
        transform: translate(0);
        opacity: 1;
    }

    80% {
        transform: translate(4px, 100px);
        opacity: 0.8;
    }

    60% {
        transform: translate(-7px, 200px);
        opacity: 0.7;
    }

    40% {
        transform: translate(10px, 400px);
        opacity: 0.5;
    }

    20% {
        transform: translate(-14px, 700px);
        opacity: 0.2;
    }

    0% {
        transform: translate(16px, 900px);
        opacity: 0;
    }
}

.banner-heading,
.banner-caption {
    position: relative;
    left: -100%;
    transition: left 2s ease;
}

.banner-heading.show,
.banner-caption.show {
    left: 0;
}

.custom-button {
    position: relative;
    top: 100%;
    transition: top 1s ease;
}

.custom-button.show {
    top: 0;
}

.image {
    opacity: 0;
    transition: opacity 1s ease;
}

/* Set the final opacity of the image */
.image.show {
    opacity: 1;
    /* Make the image visible */
}